
@{
    ViewData["Title"] = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">
    <h2 class="text-center">Agregar Libros</h2>
    <form action="@Url.Action("Agregar", "Libros")" method="post">
        @Html.AntiForgeryToken()
        <div class="form-group col-5 offset-md-2 mt-3">
            <label class="mb-2 " for="nombre">Nombre del Libro:</label>
            <input placeholder="Escriba el Nombre del Libro" type="text" class="form-control" id="nombre" name="Titulo" required >
        </div>
        <div class="form-group col-5 offset-md-2 mt-3">
            <label class="mb-2 " for="nombre">Autor:</label>


            <select class="form-control" id="AutorID" name="AutorID" required>
                <option value="">Selecciona un autor</option>
                @foreach (var autor in ViewBag.AutorID)
                {
                    <option value="@autor.Value">@autor.Text</option>
                }
            </select>
        </div  class="form-group col-5 offset-md-2 mt-3">

        <div class="form-group col-5 offset-md-2 mt-3">
            <button type="submit" class="btn btn-success mb-2 mt-2 ">
            Guardar
            </button>
            <div>
                @Html.ActionLink("Volver a la Lista", "Index")
            </div>
        </div>

    </form>
</div>


@section Scripts{

    @{
        var errorMessage = TempData["MessageError"] as string;
        var successMessage = TempData["SuccessMessage"] as string;
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <script>
            $(document).ready(function () {            
                    Swal.fire({
                        title: "Error al Guardar",
                        text: "@errorMessage",
                        icon: "error"
                    });
            });
        </script>
    }



    @if (!string.IsNullOrEmpty(successMessage))
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    title: "Éxito",
                    text: "@successMessage",
                    icon: "success"
                });
            });
        </script>
    }


}