
@{
    ViewData["Title"] = "Libros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">


    <h2 class="fs-30 text-center mt-3">Listado de Libros</h2>

    <div class="form-group mx-auto px-1 py-1 m-2 w-75">
        <a class="btn btn-success form-group" href="@Url.Action("Agregar","Libros")">
            Agregar Libros
        </a>
        <a class="btn btn-success form-group ms-1" href="@Url.Action("Agregar","Autores")">
            Agregar Autor
        </a>
        <hr />
    </div>

    

    <table class="table table-striped mx-auto w-75  text-center ">
        <thead >
            <tr>
                <th>Id Libro</th>
                <th>Título</th>
                <th>Autor</th>
        </tr>
        </thead>

        <tbody>
            @foreach (var libro in Model)
            {
                <tr>
                    <td>@libro.Id</td>
                    <td>@libro.Titulo</td>
                    <td>@libro.Autor.Nombre</td>
                    <td>
                        <a class="fa-solid fa-trash " style="color: #df0c0c;" href="@Url.Action("Eliminar", "Libros", new { id = libro.Id })">

                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>